{% extends "base.html" %}
{% load sexy_capitals %}

{% block page_name %}
  {{room.name}}
{% endblock page_name %}

{% block content %}

  <div class="container flex max-w-full mb-20 h-75vh">
    <div class="w-1/2 h-full bg-center bg-cover" style="background-image: url({{room.first_photo}})"></div>
    <div class="flex flex-wrap w-1/2 h-full">
      {% for photo in room.get_next_four_photos %}
        <div class="w-1/2 h-auto bg-center bg-cover border border-gray-700" style="background-image: url({{photo.file.url}})"></div>
      {% endfor %}
    </div>
  </div>

  <div class="container flex justify-around pb-56 mx-auto">
    <div class="w-1/2">
      <div class="flex jutify-between">
        <div class="mb-5">
          <h4 class="mb-px text-3xl font-medium">{{room.name}}</h4>
          <span class="font-light text-gray-700">{{room.city}}</span>
        </div>
        <a href="{{room.host.get_absolute_url}}" class="flex flex-col items-center">
          {% include "mixins/user_avatar.html" with user=room.host %}
          <span class="mt-2 text-gray-500">{{room.host.first_name}}</span>
        </a>
      </div>
      <div class="flex border-section">
        <span class="mr-5 font-light">{{room.room_type}}</span>
        <span class="mr-5 font-light">{{room.beds}} bed{{room.beds|pluralize}}</span>
        <span class="mr-5 font-light">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
        <span class="mr-5 font-light">{{room.baths}} bed{{room.baths|pluralize}}</span>
      </div>
      <p class="border-section">
        {{room.description}}
      </p>
      <div class="border-section">
        <h4 class="mb-5 text-lg text-medium">Amenities</h4>
          {% for a in room.amenities.all %}
            <li class="mb-2">{{a}}</li>
          {% endfor %}
      </div>
      <div class="border-section">
        <h4 class="mb-5 text-lg text-medium">Facilites</h4>
        {% for f in room.facilities.all %}
          <li class="mb-2">{{f}}</li>
        {% endfor %}
      </div>
      <div class="border-section">
        <h4 class="mb-5 text-lg text-medium">House Rules</h4>
        {% for h in room.house_rules.all %}
          <li class="mb-2">{{h}}</li>
        {% endfor %}
      </div>
      <div class="mt-10">
        <h4 class="mb-5 text-2xl text-medium">Reviews</h4>
        <div class="flex items-center">
          <div>
            <i class="text-teal-500 fas fa-star"></i>
            <span class="text-xl font-bold">{{room.total_rating}}</span>
          </div>
          <div class="w-px h-5 mx-5 bg-gray-400"></div>
          <div class="">
            <span class="text-xl font-bold">{{room.reviews.count}}</span>
            <span>review{{room.reviews.count|pluralize}}</span>
          </div>
        </div>
        <div class="mt-10">
          {% for review in room.reviews.all %}
            <div class="border-section">
              <div class="flex mb-3">
                <div>
                  {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                </div>
                <div class="flex flex-col ml-5">
                  <span class="font-medium">{{review.user.first_name}}</span>
                  <span class="text-sm text-gray-500">{{review.created|date:'F Y'}}</span>
                </div>
              </div>
              <p>{{review.review}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="w-1/3">
      {% if room.host == user %}
        <a href="{% url 'rooms:edit' room.pk %}" class="block btn-link">Edit Room</a>
      {% else %}
        {{'something'|sexy_capitals}}
        {% if not request.session.is_hosting %}
          {% for calendar in room.get_calendars %}
            <div class="mb-20">
              <span class="text-center, font-semibold text-lg block mb-8">{{calendar.get_month}}/{{calendar.year}}</span>
              <div class="mb-4 font-medium cal-grid">
                {% for day in calendar.day_names %}
                  <span>{{day}}</span>
                {% endfor %}
              </div>
              <div class="cal-grid">
                {% for day in calendar.get_days %}
                  {% if day.number != 0 %}
                    {% if day.past %}
                      <span class="w-full p-1 text-center text-gray-300 bg-gray-200 rounded">{{day}}</span>
                    {% else %}
                      <span class="w-full p-1 text-center text-gray-700 bg-gray-200 rounded cursor-pointer hover:font-medium hover:bg-teal-400 hover:text-white">{{day}}</span>
                    {% endif %}
                  {% else %}
                    
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% else %}
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
