container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_createsu:
    command: "django-admin createsu"
  04_collectstatic:
    command: "django-admin collectstatic --noinput"
  05_create_users:
    command: "django-admin seed_users --number 50"
  06_create_amenities:
    command: "django-admin seed_amenities"
  07_create_facilities:
    command: "django-admin seed_facilities"
  08_create_rules:
    command: "django-admin seed_rules"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
