{% extends "base.html" %}

{% block page_name %}
  Update Profle
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}


  <div class="container flex flex-col items-center p-6 mx-auto mb-10 border border-gray-400 lg:w-5/12 md:w-1/2 xl:w-1/4">

    {% include 'mixins/auth/auth_form.html' with form=form cta="Update profile" %}

      {% if object.login_method == "email" %}
        <div class="mt-5">
          <a href="{% url 'users:password' %}" class="font-medium text-teal-500">Change Password</a>
        </div>
      {% endif %}
    </div>
{% endblock content %}
